*.o
*.gch
*.a
main
sample.txt
sample_info.txt
weights.txt
posterior_sample.txt
levels.txt
*.pyc
manual.pdf
*.png
logfile
movie.avi
*.pdf
*.aux
*.log
sampler_state.txt
*.so
code/Templates/Builder/MyModel.h
code/Templates/Builder/MyModel.cpp

