.sconsign.dblite
stats.txt
sample_log_X.txt
paper/_minted-ms
*.o
*.gch
*.a
main
log_prior_weights.txt 
sample.txt
sample_info.txt
weights.txt
posterior_sample.txt
levels.txt
*.pyc
manual.pdf
*.png
logfile
movie.avi
*.pdf
*.aux
*.log
sampler_state.txt
*.so
code/Templates/Builder/MyModel.h
code/Templates/Builder/MyModel.cpp
ms.out
dnest4.lib
build
dist
.DS_Store
